.navigation {
    display: flex;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    justify-content: space-between;
    font-family: Helvetica;
    font-weight: 800;
    height: 8vh;
    font-size: 30px;
}

.main-body {
    display: flex;
    height: 70vh;
    font-family: Helvetica;
    font-weight: 800;
    justify-content: space-evenly;
    align-items: center;
}

.left-nav {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.right-nav {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.account-button {
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-weight: 800;
    font-size: 30px;
}

.body-header {
    font-size: 40px;
}

.balance-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid gray;
    border-radius: 20px; 
    height: 35vh;
    width: 50vh;
}

.add-button {
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-weight: 800;
    font-size: 30px;
    width: 30%;
}

.start-button {
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(59,172,78,0.659);
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: 800;
    font-size: 30px;
    width: 20vh;
    float: right;
    margin-right: 20vh;
}